body {
    margin: 0px;
    margin-top: 70px;
}

header {
    position: fixed;
    overflow: hidden;
    background-color: white;
    width: 100%;
    top: 0;
    margin: 0;
}

h1 {
    margin-left: 10px;
}

@media (max-width: 800px) {
    h1 {
        display: none;
    }
}

nav {
    display:flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    nav {
       justify-content: center; 
    }
}

ul {
    display:flex;
    list-style: none;
    margin-right: 32px;
}

.navitem {
    margin: 10px;
    color:rgb(7, 5, 8)
}

section#About {
    background-color: rgb(194, 188, 188);
    height: 500px;
    display: flex;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    section#About {
        flex-direction: column;
        justify-content: center;
        
      }
}

p {
    line-height: 2em;
    width: 70%;
}

section#Projects {
    background-color: rgb(22, 3, 38);
    height: 500px;
    display: flex;
    color: white;

}

@media (max-width: 800px) {
    section#Projects {
        flex-direction: column;
        justify-content: center;

      }
}

#projects {
    gap: 20px;
}

#About #right {
    background-image: url(https://images.unsplash.com/photo-1657524432718-042ae15e4b8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wY);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#Projects #left {
    background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80);
}

#left {
    width:50%;
    align-items: left;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #left {
        width: 100%;
    }
}

#right {
    width: 50%;
    align-items: right;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #right {
        width: 100%;
    }
}

footer {
    height: 200px;
    display:flex;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
    }
}

.box {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 203, 235);
}

@media (max-width: 800px) {
    .box {
        width: 100%;
        margin-bottom: 1px;
    }
}

#email {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    align-items: center;
    font-weight: normal;
}

#contactimg {
    height: auto;
    max-width: 100%
}

img {
    width: 100%;
    height: auto;
}